@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  background-color: rgb(68, 66, 66);
}
.container {
  position: absolute;
  top: 0;
  left: 130px;
  height: 100vh;
  background-image: url("/public/crs.png");
  background-size: cover;
  background-position: center;
  /* filter: grayscale(80%); */
  background-repeat: no-repeat;
  z-index: -1;
  object-fit: cover;
}
.nav-title {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.coming-soon {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.welcome {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.exp {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.countdown {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
